{{makeTitle}}

{{section "Introduction"}}
<p>Hello, my name is {{name}}. I am from {{hometown}}. I have {{kids.length}} kids:</p>
<ul>
  {{#kids}}
  <li>{{name}} is {{age}}</li>
  {{/kids}}
</ul>

<p>inline math: $\int xdx$, display math:

$$
\begin{align}
\int\limits_0^\infty e^x dx
\label{eq:eq1}
\end{align}
$$

reference to equation: \eqref{eq:eq1}. Citation: {{cite "KinBa15"}}. Different citation: {{cite "muehlhauser2012intelligence"}}.
Cite the first thing again: {{cite "KinBa15"}}.

{{subsection "Politics and the English language"}}
<p>Most people who bother with the matter at all would admit that the English language is in a bad way, but it is generally assumed that we cannot by conscious action do anything about it. Our civilization is decadent and our language—so the argument runs—must inevitably share in the general collapse. It follows that any struggle against the abuse of language is a sentimental archaism, like preferring candles to electric light or hansom cabs to aeroplanes. Underneath this lies the half-conscious belief that language is a natural growth and not an instrument which we shape for our own purposes.

<p>Now, it is clear that the decline of a language must ultimately have political and economic causes: it is not due simply to the bad influence of this or that individual writer. But an effect can become a cause, reinforcing the original cause and producing the same effect in an intensified form, and so on indefinitely. A man may take to drink because he feels himself to be a failure, and then fail all the more completely because he drinks. It is rather the same thing that is happening to the English language. It becomes ugly and inaccurate because our thoughts are foolish, but the slovenliness of our language makes it easier for us to have foolish thoughts. The point is that the process is reversible. Modern English, especially written English, is full of bad habits which spread by imitation and which can be avoided if one is willing to take the necessary trouble. If one gets rid of these habits one can think more clearly, and to think clearly is a necessary first step toward political regeneration: so that the fight against bad English is not frivolous and is not the exclusive concern of professional writers. I will come back to this presently, and I hope that by that time the meaning of what I have said here will have become clearer. Meanwhile, here are five specimens of the English language as it is now habitually written.

<p>These five passages have not been picked out because they are especially bad—I could have quoted far worse if I had chosen—but because they illustrate various of the mental vices from which we now suffer. They are a little below the average, but are fairly representative examples. I number them so that I can refer back to them when necessary:

{{section "Background"}}
{{subsection "bla"}}
{{subsection "blu"}}

{{bibliography}}
